.bottomNav {
  background-color: rgb(241, 241, 240);
  display: flex;
  justify-content: stretch;
}

.title {
  margin-left: 10px;
}

.imoticon {
  padding: 0 10px 0 25px;
}

.notice {
  font-size: 13px;
  margin: 18px 0 16px 0;
}
