.wrap {
  background-color: rgb(241, 241, 240);
  display: flex;
  justify-content: space-between;
}

.title {
  margin-left: 10px;
}

.list {
  margin-right: 10px;
  word-spacing: 20px;
  color: #a5a4a4;
}
