//variables
$white-color: #ffffff;
$black-color: #000000;
$dark-head-color: #222;
$red-color: #ff0000;
$brown-color: #4e342e;
$brown-text-color: #333;
$brown-p-color: #444;
$brown-footer-color: #666;
$gray-nav-color: #999792;
$gray-icon_color: #616161;
$gray-border-color: #d3d3d3;
$gray-font-color: #383838;
$blue-color: #3ca3f8;
$green-color: #018157;
$brown-detail-color: #2c2a29;
$light-border-color: #ddd;
$background-login-first-color: #f0f0f0;
$background-login-second-color: #dbdbdb;
$background-login-third-color: #87cefa;
$background-main-first-color: #f7f6f3;
$background-detail-color: #eeeeee;
$background-color-transparent: transparent;
/* Font List*/
$font-size-login-large: 3.5rem;
$font-size-login-medium: 1rem;
$font-size-login-small: 0.8rem;
$font-size-main-large: 2rem;
$font-size-main-medium: 1rem;
$font-size-detail-small: 0.8rem;
$font-size-text-detail-small: 1.1rem;
$font-size-text-detail-small2: 1.2rem;
$font-size-productname: 24px;
$titleList-font-size: small;
$title-font-stack: “Dancing Script”, cursive;
$navElement-font-stack: “Open Sans”, sans-serif;
$productName-span-font-stack: “Arial”;
$font-weight-large-1: 700;
$font-weight-large: 600;
$font-weight-medium: 500;
$font-weight-small: 400;
$font-weight-bold: bold;
$font-weight-normal: normal;
